site_name: uwuu.ca
site_description: Various resources and guides for somewhat niche subjects.
theme:
  name: material
  custom_dir: overrides
  features:
    - navigation.top
    - navigation.tabs
    - content.footnote.tooltips
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: pink
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

markdown_extensions:
    - admonition
    - tables
    - attr_list
    - footnotes
    - pymdownx.tilde
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.tabbed:
        alternate_style: true
plugins:
  - literate-nav:
      nav_file: nav.md